html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  background-image: url("../public/mainBackground.jpg");
}

.itemBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

.itemImg {
  margin: 5px;
  -webkitfilter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
}

.itemImg:hover {
  -webkitfilter: grayscale(0%);
  filter: grayscale(0%);
}
